@import '../../styles/config/variables';
.text-field {
    padding: 1rem;

    .text-field-input {
        max-width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        
        textarea {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: transparent;
            height: 100%;
            color: $c-first;
            font-weight: bold;
            letter-spacing: 1px;
            border: 2px solid $c-first;
            border-radius: 8px;
            cursor: pointer;
            
            
            &:disabled {
                cursor: not-allowed;
                opacity: 0.6;
            }
            
            &:hover {
                color: white;
                background-color: $c-first;
            }
        }
    }

}

  .text-field-main {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        
        .text-field-letters {
            background-color: $c-first-light;
            
            .text-field-img {        
                width: clamp(80px, 43vw, 200px); // clamp(min, preferred, max)
                height: clamp(80px, 43vw, 200px);

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            
            span {
                font-weight: bold;
                text-align: center;
                display: block;
                width: 100%;
                font-size: 32px;
            }
        }
    }   